* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    border-left: 0.5rem solid #176160;
    border-right: 0.5rem solid #176160; 
    position: relative;
    background-color: #228B89;
}
p, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 3.2rem;
    line-height: 1.3;
}
h2 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
    body {
        border-left: 1rem solid #176160;
        border-right: 1rem solid #176160;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    .container {
        max-width: 112rem;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px) {
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.8rem;
    }
}
p {
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
    color: #EDFEFD;
}
a:hover, a:focus {
    text-decoration: underline;
    color: #3BF5A7;
}
.container {
    padding: 0 1rem;
}
.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2.5rem;
}
.btn-primary {
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
}
.btn-primary.light {
    color: #EDFEFD;
    border-color: #EDFEFD;
}
header, footer {
    background-color: #176160;
    color: #EDFEFD;
    padding: 1.5rem 0;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 3;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
header .container > div, header .container > nav {
    width: 100%;
}
header .container > div p {
    font-size: 3rem;
    line-height: 1;
}
header .container > nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
header .container > nav ul a {
    padding: 0 1rem;
    font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
    header .container {
        flex-wrap: nowrap;
        text-align: left;
    }
    header .container > div, header .container > nav {
        width: 50%;
    }
    header .container > div p {
        margin-bottom: 0;
    }
    header .container > nav ul {
        justify-content: flex-end;
    }
}




/* HERO */
#hero {
    position: relative;
    color: #EDFEFD;
    padding: 10.4rem 0;
}
#hero h1 {
    padding-top: 5rem;
    font-size: 2.5rem;
}
#hero h1 span {
    display: block;
    font-size: 3rem;
    font-weight: 700;
}
@media screen and (min-width: 500px) {
    #hero h1 {
        font-size: 3rem;
    }
    #hero h1 span {
        display: block;
        font-size: 5rem;
        font-weight: 700;
    }
}
@media screen and (min-width: 768px) {
    #hero {
        padding-top: 6rem;
    }
}
@media screen and (min-width: 992px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        padding-top: 20%;
        font-size: 5rem;
    }
    #hero h1 span {
        font-size: 7rem;
    }
}
#work, #about, #connect {
    padding: 4rem 0 6rem;
}
#work h2, 
#about h2, 
#connect h2 {
    text-align: center;
}


/* WORK */
#work {
    position: relative;
}
#work::after {
    
    
    width: 100%;
}
#work .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #176160;
    padding-bottom: 10rem;
}
.work {
    margin-bottom: 2rem; 
}
.work:first-child, 
.work:nth-child(2),
.work:nth-child(3),
.work:nth-child(4) {
    width: 100%;
}
.work p {
    margin-bottom: 0;
    text-align: left;
}
.work a {
    text-decoration: none;
    color: #000;
}
.work .img-container {
    width: 100%;
    height: 20rem;
    background-color: #ddd;
}
.work .title {
    padding: 1.5rem 1rem;
    background-color: #fff;

}
#work .btn {
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    #work .container {
        margin-bottom: -6rem;
        
    }
    #work::after {
        content: ' ';
        display: block;
        position: absolute;
        width: 50%;
        top: 11.8rem;
        left: 0;
        bottom: 0;
        background-color: #176160;
    }
    .work:first-child, 
    .work:nth-child(4) {
        width: calc(60% - 1rem);
    }
    .work:nth-child(2),
    .work:nth-child(3) {
        width: calc(40% - 1rem);
    }
}
/* ABOUT */
#about {
    position: relative;
}

#about .container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
#about .bio, 
#about .experience {
    background-color: #176160;
    width: 100%;
}
#about .bio {
    padding: 1.5rem 0 1.5rem 1.5rem;
}
#about .experience {
    padding: 1.5rem;
}
@media screen and (min-width: 768px) {
    #about .container {
        flex-wrap: nowrap;
    }
    #about .bio {
        width: calc(74% - 1rem);
    }
    #about .experience {
        width: calc(25% - 1rem);
    }
}
/* CONNECT */
#connect {
    text-align: center;
    padding: 10rem 0;
}
#connect span {
    display: inline-block;
    background-color: #444;
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem;
}

/* Portfolio Pg */
.portfolio #work {
    height: 100vh;
    text-align: center;
}
.portfolio #work::after {
    top: 22.54%;
}
.portfolio #work h1 {
    margin: 4rem 0 6rem;
}

/* Portfolio-Single Pg */
.portfolio-single main {
    position: relative;
    padding: 4rem 0 6rem;
}
.portfolio-single main h1 {
    margin: 4rem 0 6rem;
    text-align: center;
}
.portfolio-single main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-single main .about-project {
    width: 100%;
    background-color: #fff;
    height: 60rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.portfolio-single main .col {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.portfolio-single main .col .img-container {
    height: 20rem;
    background-color: #444;
}
.portfolio-single main .col .tech-used {
    height: 40rem;
    background-color: #ddd;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.portfolio-single main .img-container:nth-child(3) {
    width: 100%;
    background-color: #444;
    height: 30rem;
}
@media screen and (min-width: 768px) {
    .portfolio-single main .col {
        flex-flow: column-reverse;
    }
    .portfolio-single main .col .img-container {
        height: calc(50% - 1rem);
    }
    .portfolio-single main .col .tech-used {
        height: calc(50% - 1rem);
        margin-bottom: 0;
    }
    .portfolio-single main .about-project {
        width: calc(60% - 1rem);
    }
    .portfolio-single main .col {
        width: calc(40% - 1rem);
    }
}