* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.625;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    border-left: 0.5rem solid #000;
    border-right: 0.5rem solid #000; 
    position: relative;
}
p, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 1rem;
}
header, footer {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}
header {
    position: fixed;
    width: 100%;
    z-index: 2;
}
h2 {
    text-align: center;
    margin-bottom: 2rem;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
#hero {
    height: 100vh;
    position: relative;
    background-color: #444;
    color: #fff;
}
#work, #about, #connect {
    padding: 4rem 0 6rem;
}
#work {
    background-color: #999;
}
#work a {
    text-decoration: none;
    color: #000;
}
#work .img-container {
    width: 100%;
    height: 20rem;
    background-color: #ddd;
}
#work .title {
    padding: 1.5rem 1rem;
    background-color: #fff;

}
#about {
    background-color: #bbb;
}
